.jumbotron{
    margin-top: 10px;
    background-image: url(4592175310_b1765eff7e_c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 40% bottom 60%;
}

h1{
    background-color: rgba(195, 210, 252, 0.644);;
}

.formgroup{
    display: inline-block;
}

.card{
    margin-top:20px;
    margin-bottom: 20px;
}